header.header 
    .wrapper.header__line
        .container 
            nav.header__nav 
                .header__nav-logo 
                    a(href="")
                        img(src=("../images/logo.png") alt="") 
                    .header__logo-text 
                        h2.header__logo-title REACT PIZZA
                        span.header__logo-description самая вкусная пицца во вселенной
                .header__cart 
                    a.header__cart-link(href="") 
                        button.header__cart-button 
                            span.header__cart-price 520 ₽
                            span.header__cart-amount 
                                img.header__cart-img(src=("../images/cart.svg") alt="")
                                span 3